# https://dart.dev/tools/private-files
# Created by `dart pub`
.dart_tool/
coverage/
**/coverage/
**/build/
**/doc/api/
**/ios/Pods/
**/macos/Pods/
**/.symlinks/
**/.flutter-plugins-dependencies

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/tools/pub/private-files#pubspec-lock.
pubspec.lock
